header{
    background-color: lightskyblue;
    width: available;
    height: 60px;
}

a[href^="mailto"]::after {
    content: '\1F4E9'
}

.elem_of_header{
    color:white;
    text-align: center;
    font-size: 1.2vw;
    background-color: lightskyblue;
    width: 86px;
    height: 56px;
    margin-top: 2px;
    margin-left: 2px;
}

.Wans{
    color: black;
    background-color: lightcoral;
}

.Rans{
    color: black;
    background-color: greenyellow;
}

.number_of_tasks{
    width:50px;
    height: 30px;
}

.literature_text{
    font-family: "Times New Roman";
    font-weight: normal;
}

.question{
    font-family: Arial;
    color: black;
}

.answer_window{

}

.taskField{
    background-color: #F6F6FF;
    width: 800px;
}

.OkButton{
    color: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 1.8vw;
    border-color: white;
    background-color: lightskyblue;
    width: 180px;
    height: 80px;
    margin-bottom: 30px;
    outline-color: white;
}

.result{
    width: 800px;
    height: 40px;
}

.doneButton{
    width: 120px;
    height: 48px;
    font-size: 1.2vw;
    background-color: lightskyblue;
    margin-bottom: 30px;
    border-color: white;
    color: white;
}