{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
    <h1>Личный кабинет</h1>
    <br>
    <br>
    <p><h3>{{ user.name }} - {{ {'admin': 'администратор', 'student': 'ученик', 'teacher': 'учитель'}[user.type] }}</h3></p>
    <p>Почта: <b>{{ user.email }}</b></p>
    <p class="text">{{ user.about }}</p>
    <br>
    <br>
    {% if user.type == 'admin' %}
        <h1>Добавить пользователя</h1>
        <p><input type="radio" name="type" value="teacher"> Учитель<Br>
        <input type="radio" name="type" value="admin"> Админ</p>
        <p><input type="email" id="email" style="width: 282px" name="email">
            <input type="submit" name="submit_button" value="Генерировать ключ"></p>
        <div style="color: red">{{gener_message}}</div>
        {% if key %}
            <h3>{{key}}</h3>
        {% endif%}
        <br>
        <br>
        <h1>Удалить пользователя</h1>
        <p><input type="email" style="width: 282px" name="deleteEmail" value={{ deleted }}>
            <input type="submit"  style="width: 130px" name="submit_button" value="Удалить"></p>
        {% if proofCode %}
            <p><h3>Напишите: {{proofCode}}</h3> <input type="text" style="width: 100px" name="proof"></p>
        {% endif%}
        <div style="color: red">{{message}}</div>
    {% elif user.type == 'teacher' %}
        <h1>Добавить задание</h1>
        <h2>Выбрать тему</h2>
        {% for kind in tasksDict.keys() %}
            <h4>{{ kind }}</h4>
            <ul>
                {% for type in tasksDict[kind] %}
                    <li><input type="radio" name="themeOfTask" value="{{ kind + '//' + type}}"> {{ type }}</li>
                {% endfor %}
                <li><input type="radio" name="themeOfTask" value="{{ kind }}"> Новая подтема
                    <input type="text" name="New type old kind"></li>
            </ul>
        {% endfor %}
        <p><input type="radio" name="themeOfTask" value="New kind and type"> Новая тема и подтема
            <input type="text" name="New kind"><input type="text" name="New type"></p>
        <br>
        <h2>Вопрос</h2>
        <textarea name="question" cols="75" rows="2"></textarea>
        <br>
        <h2>Текст</h2>
        <textarea name="text" cols="75" rows="4"></textarea>
        <br>
        <p><h2>Возможные ответы</h2><div> (каждый с новой строки)</div></p>
        <textarea name="answers" cols="50" rows="5"></textarea>
        <br>
        <div style="color: red">{{ message }}</div>
        <br>
        <input type="submit"  style="width: 130px" name="submit_button" value="Создать">
    {% elif user.type == 'student' %}
            <div><h2>Хотите решить задания?</h2> <input type="submit"  style="width: 130px" name="submit_button" value="Приступить"></p></div>
    {% endif%}
    <br>
    <br>
    <input type="submit" class="logout" name="submit_button" value="Выйти">
    <br>
    <br>
</form>
{% endblock %}