{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="form-control") }}<br>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control") }}<br>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type(class="form-control") }}<br>
            {% for error in form.type.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        {% if type == 'Учитель' or type == 'Администратор' %}
                <p>
                {{ form.key.label }}<br>
                {{ form.key(class="form-control") }}<br>
                {% for error in form.key.errors %}
                    <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                </p>
                <p>Запросить ключ у администратора: <a href={{open_email}}></a>{{open_email[7:]}}</p>
        {% endif %}
        <p>
            {{ form.password1.label }}<br>
            {{ form.password1(class="form-control") }}<br>
            {% for error in form.password1.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(class="form-control") }}<br>
            {% for error in form.password2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
        <a href={{url_for('login')}}>Вход</a>
    </form>
{% endblock %}